#logo{
	height: auto;
	width: 25%;

}

* {outline : 1px solid red; }

.links{
display: inline-block;}

ul {
    list-style-type: none;
}
#welcome_text{
	text-align: center; 
}
#welcome{
	margin-top: 5%;
	margin-bottom: 10%;
}

.icons{
	height: auto;
	width: 50%
}