#logo{
	height: auto;
	width: 80%;

}

* {outline : 1px solid red; }

.links{
display: inline-block;}

ul {
    list-style-type: none;
}
#welcome_text{
	text-align: center; 
}
#welcome{
	margin-top: 3.5%;
	margin-bottom: 3.5%;
}
